.menuses {
  height: 85px;
  background-image: url(../media/bgbackground.png);
}
.menuses img {
  display: inline;
  width: 4%;
  margin-left: 30%;
}
.menuses h1{
	float: left;
  color: white;
	margin-left: 60px;
  font-size: 40px;
}
.menuses a {
  float: right;
  margin-right: 10px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  margin-top: 12px;
}
.menuses a:hover {
  background-color: #ddd;
  color: black;
}

.menuses a.activo {
  background-color: #4CAF50;
  color: white;
}
main img {
  display: block;
  float: right;
  width: 30%;
}
main h1{
  text-align: center;
  font-size: 86px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 1px #73D;
}
main p {
  font-size: 30px;
  margin-left: 30px;
}
main ul {
  font-size: 30px;
  margin-left: 30px;
}
aside iframe {
  border:dotted 5px #c2c5ff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 600px;
}
footer{
  text-align: center;
  background-color: #dadada
}
