body {
	background-color: #000000;
	color: #ffffff;
}
h1 {
  text-align: center;
  font-size: 48px;
  text-decoration: underline;
  color: #FFFF5A;
}
h2 {
	text-align: center;
	font-size: 38px;
	color: #65FF5A;
}
article {
	text-align: center;
}

iframe {
    border:dashed 5px #ffbdff;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498db;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.btn::before,.btn::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #353b48;
  transform: skewX(50deg);
  transition: .4s linear;
}

.btn::before{
  top: -4px;
  left: 10%;
}

.btn::after{
  bottom: -4px;
  right: 10%;
}

.btn:hover::before{
  left: 80%;
}

.btn:hover::after{
  right: 80%;
}
